# Terraform
terraform/*.tfvars
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Go binaries
/api
/parley-api
/parley-admin
/admin
/bin/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db